.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media screen and (max-width: 800px) {
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: auto;
  }

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
